[submodule "lib/libft"]
	path = lib/libft
	url = git@github.com:ailopez-o/42Barcelona-Libft.git
[submodule "lib/ft_printf"]
	path = lib/ft_printf
	url = git@github.com:ailopez-o/42Barcelona-Printf.git
[submodule "lib/minilibx/minilibx_codam"]
	path = lib/minilibx/minilibx_codam
	url = https://github.com/codam-coding-college/MLX42.git
[submodule "lib/minilibx/minilibx_linux"]
	path = lib/minilibx/minilibx_linux
	url = https://github.com/42Paris/minilibx-linux.git
